.picture {
  position: relative;
  }

.picture div {
  position: absolute;
  top: 46%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

.picture .sky {
  width: 100%;
  filter: blur(3px);
  }